.weather {
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        // max-width: 100vh;
        // max-height: 800px;

        width: 100vh;
        height: 800px;

        padding: 10px;

        border-radius: 15px;
        background-color: rgb(247, 247, 247, 0.1);
    }
}